<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>en</key>
		<string>eng</string>
	</dict>
	<dict>
		<key>de</key>
		<string>德语</string>
	</dict>
	<dict>
		<key>fr</key>
		<string>法语</string>
	</dict>
	<dict>
		<key>pt</key>
		<string>葡萄牙语</string>
	</dict>
	<dict>
		<key>nl</key>
		<string>荷兰语</string>
	</dict>
	<dict>
		<key>it</key>
		<string>意大利语</string>
	</dict>
	<dict>
		<key>tr</key>
		<string>土耳其语</string>
	</dict>
	<dict>
		<key>sv</key>
		<string>瑞典</string>
	</dict>
	<dict>
		<key>da</key>
		<string>丹麦</string>
	</dict>
	<dict>
		<key>pl</key>
		<string>波兰</string>
	</dict>
	<dict>
		<key>fi</key>
		<string>芬兰</string>
	</dict>
	<dict>
		<key>id</key>
		<string>印度尼西亚</string>
	</dict>
	<dict>
		<key>ro</key>
		<string>罗马尼亚</string>
	</dict>
	<dict>
		<key>hu</key>
		<string>匈牙利</string>
	</dict>
	<dict>
		<key>sk</key>
		<string>斯洛伐克</string>
	</dict>
	<dict>
		<key>hr</key>
		<string>克罗地尼亚</string>
	</dict>
	<dict>
		<key>ms</key>
		<string>马来语</string>
	</dict>
	<dict>
		<key>uk</key>
		<string>乌克兰语</string>
	</dict>
	<dict>
		<key>es</key>
		<string>西班牙</string>
	</dict>
</array>
</plist>
