<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TOPHomeViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPSCameraViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPCamerBatchViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPBatchViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPSingleBatchViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPEditPDFViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPDFSettingViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPDFSignatureViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPImageWaterMarkController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPCollageViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPSignatureViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPGraffitiViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPGraffitiLabelViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPhotoShowOCRVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPhotoCombineSignatureVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPhotoShowTextTranslationVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPCameraShowViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPhotoReEditVC</key>
		<false/>
	</dict>
	<dict>
		<key>UIActivityViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPAppSafeEnterViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPAppSafeShowPasswordVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPTouchUnlockViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPIDCardCollageViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPHomeTopMergeVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPSearchFileViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPDocumentRemindVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPSuggestionsVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPShowScreenshotVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPSubscriptionPayListViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPLoadSelectDriveViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPConnectivityViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPurchaseCredutsViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPUnlockFunctionViewController</key>
		<false/>
	</dict>
	<dict>
		<key>TOPChildSettingVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPPhotoReEditFinishVC</key>
		<false/>
	</dict>
	<dict>
		<key>TOPFunctionImportantVC</key>
		<false/>
	</dict>
</array>
</plist>
